node_modules
package-lock.json
yarn.lock
yarn-error.log
.DS_Store
*.idea*
.vscode
junit.xml
artifacts
debug.log
ModuleDescriptor.json
.npmrc
*.swp
*.swo

# stripes
stripes.config.js.local
.stripesclirc
